<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll" href="/">
        <i class="fa fa-instagram"></i>  <span class="light">Insta</span> Pic
      </a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <% if current_user.nil? %>
        <li>
          <a class="page-scroll" href="#login">Login</a>
        </li>
        <% else %>
        <li>
          <%= image_tag current_user.profile_picture , class: "nav-image" %>
        </li>
        <li >
          <%= link_to current_user.username , dashboard_path, class: "page-scroll" %></a>
        </li>
        <li>
          <%= link_to "Logout", logout_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "Browse", feed_path %>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
