<header class="intro dashboard">
  <div class="intro-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="container">
          <p class="intro-text">Welcome back, <%= current_user.username %><br></p>
        </div>
      </div>
    </div>
  </div>
</header>
